@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #dfe2ff;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    outline: none;
}

.App {
    width: 400px;
    height: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    padding: 40px;
}

.send-invite-btn {
    background-color: rgb(251, 80, 0);
    padding: 16px 15px;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    width: 100%;
    border: 0;
    outline: none;
    box-shadow: 0 7px 10px rgba(251, 80, 0, 0.4);
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
        background-color: rgb(255, 97, 24);
    }

    &:active {
        transform: translateY(2px);
        box-shadow: none;
    }
}
